.favorite-box {
  width: 100%;
  min-height: 100vh;
}

.favorite-box h2 {
  font-size: 32px;
  color: #111;
  margin-bottom: 15px;
}


.favorite-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}