.header-bottom__container {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 25px 50px;
  position: relative;
  background-color: #fff;
  z-index: 1000;
}


.header-bottom__container.fixed {
  padding: 15px 50px;
  position: fixed; 
  top: 0;
  box-shadow: 0px 6px 18px 0px rgba(34, 60, 80, 0.2);
  
}
.header-bottom__container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 15px;
}

.header-bottom__container ul li {
  cursor: pointer;
} 




.katalog {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #111;
  padding-right: 10px;
}
 .katalog * {
  pointer-events: none;
 }
.katalog div {
  display: flex;
  width: 148px;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
  margin-top: 3px;
  position: relative;
}

.katalog div span {
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #4a4949;
  display: block;
  transition: all 0.3s ease;
} 

.katalog:hover   {
  border-color: #DA002B;
}
 
.katalog:hover  p {
  color: #DA002B;
}

.katalog:hover div span {
  background-color: #DA002B;
}



.katalog div span:nth-child(1) {
  margin-bottom: 5px;
  
}
.katalog div span:nth-child(2) {
  margin-bottom: 5px;
}
.katalog div span:nth-child(3) {
  margin-bottom: 5px;
}


.katalog.active div span:nth-child(1) {
  transform: rotate(45deg);
  width: 25px;
}
.katalog.active div span:nth-child(2) {
  display: none;
}
.katalog.active div span:nth-child(3) {
  width: 25px;
  margin-top: -8px;
  margin-left: -1px;
  transform: rotate(-45deg) ;
}

.search  {
  width: 100%;
  max-width: 750px;
  position: relative;
}

.search input {
  width: 100%;
  font-size: 16px;
  padding: 14px 0px 14px 20px;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #F2F2F2;
  position: absolute;
  top: 0;
  margin-top: -23px;
}

.search input:focus-visible {
  background-color: #fff;
}
.search span {
  background-color: #DA002B;
  padding: 20px 40px;
  border-radius: 8px;
  position: absolute;
  right: 4px;
  top: 2px;
  margin-top: -22px;
}

.search span svg {
  color: #fff;
  font-size: 35px;
  position: absolute;
  left: 30%;
  top: 3px;
}


.comparison, .like, .order, .user  {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.order a {
  color: #111;
  position: relative;
}

.order a span {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  color: #fff;
  position: absolute;
  top: -20px;
  right: 5px;
  background-color: #DA002B;
}


.comparison svg, .like svg, .order svg, .user svg { 
  font-size: 25px;
}

.header-bottom__container ul li:hover {
  color: #DA002B;
}

.header-bottom__container ul li:hover a {
  color: #DA002B;
}

  /* .header-bottom__container ul li * { 
    pointer-events: none;
  } */