.compere-btn__container {
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 100%;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.compere-btn__container:hover svg {
  transform: scale(1.4);
}

.compere-btn__container svg {
  color: #999;
  font-size: 18px;
  pointer-events: none;
}